// 背景边框色
$--color-primary: #0d78e2 !default;
$--color-default: #2588eb !default;
$--color-bg-blue: #67ace4 !default;
$--color-bg-gray: #ddd !default;

// 字体色
$--color-text: #333 !default;
$--color-text-blue: #67ace4 !default;
$--color-text-white: #fff !default;
